### 쇼핑몰의 고객 정보를 기반으로 기계학습을 위한 EDA(전처리)

In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# 시각화 library -seaborn의 기초, 섬세한 표현 작업싱에는 matplotlib도 필요로 함
import matplotlib.pyplot as plt

# 한글 인코딩 처리
plt.rc('font', family='malgun gothic')

# - 기호 깨짐 현상 방지를 위한 설정
plt.rc('axes', unicode_minus=False)

# jupyter notebook에서 chart를 그리기 위한 설정
%matplotlib inline

#### 데이터 로딩

**mem_data.csv 고객정보데이터**
- 'MEM_ID' : 회원코드
- 'M_STORE_ID' : 가맹점 코드
- 'GENDER' :남(M), 여(F) 
- 'BIRTH_DT' :생년월일
- 'BIRTH_SL' : 양력(S), 음력(L)
- 'ZIP_CD' : 우편번호
- 'RGST_DT' : 등록일
- 'VISIT_CNT' : 방문횟수
- 'SALES_AMT' : 구매 합계
- 'LAST_VST_DT' : 최근 방문 일자
- 'USABLE_PNT' : 가용 포인트
- 'USED_PNT' : 사용포인트 합계
- 'ACC_PNT' : 누적포인트 합계
- 'USABLE_INIT' : 초기 포인트
- 'SMS' : SNS 수신동의

In [11]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS
0,1134945,1084,M,NaN,S,-,2006-02-04 11:51:08.233000000,8.0,337000.0,2007-01-19 21:46:12.827000000,6740.0,0.0,6740.0,3202.0,Y
1,38458,539,F,1973-07-11,S,420-721,2006-02-04 11:51:08.233000000,22.0,1438500.0,2007-10-18 19:57:45.503000000,1732.0,12000.0,13732.0,17762.0,Y
2,7009,1113,F,1973-04-06,S,-,2006-02-04 11:51:08.233000000,8.0,309300.0,2007-05-30 15:21:10.863000000,6372.0,0.0,6372.0,1856.0,Y
3,1374842,1300,M,NaN,S,-,2006-02-04 11:51:08.233000000,3.0,110300.0,2007-03-25 12:49:30.170000000,2206.0,0.0,2206.0,1522.0,Y
4,1383660,1024,M,NaN,S,-,2006-02-05 16:56:58,2.0,33500.0,2006-09-09 14:55:21.687000000,670.0,0.0,670.0,110.0,Y

In [9]:
mem_data = pd.read_csv('0.dataSet/mem_data.csv')
mem_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7534 entries, 0 to 7533
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MEM_ID       7534 non-null   int64
 1   M_STORE_ID   7534 non-null   int64
 2   GENDER       7534 non-null   object
 3   BIRTH_DT     4193 non-null   object
 4   BIRTH_SL     7534 non-null   object
 5   ZIP_CD       7534 non-null   object
 6   RGST_DT      7534 non-null   object
 7   VISIT_CNT    7534 non-null   float64
 8   SALES_AMT    7534 non-null   float64
 9   LAST_VST_DT  7534 non-null   object
 10  USABLE_PNT   7534 non-null   float64
 11  USED_PNT     7534 non-null   float64
 12  ACC_PNT      7534 non-null   float64
 13  USABLE_INIT  7534 non-null   float64
 14  SMS          7534 non-null   object
dtypes: float64(6), int64(2), object(7)
memory usage: 883.0+ KB

In [10]:
mem_data.columns

Index(['MEM_ID', 'M_STORE_ID', 'GENDER', 'BIRTH_DT', 'BIRTH_SL', 'ZIP_CD',
       'RGST_DT', 'VISIT_CNT', 'SALES_AMT', 'LAST_VST_DT', 'USABLE_PNT',
       'USED_PNT', 'ACC_PNT', 'USABLE_INIT', 'SMS'],
      dtype='object')