In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('0.dataSet/personinfo.csv')
df

  name             birth                  email
0  이영자   2021-01-01 9:10       happy@gmail.com
1  신동엽   2021-01-08 9:20          sin@naver.com
2  정찬우  2021-02-01 10:20   Iron at yahoo.co.kr
3  김태우  2021-02-02 11:40      \tWidow@gmail.com
4  이정희  2021-02-28 15:10        thor@daum.net\t
5  이나영  2021-06-30 21:20       loki88@gmail.com
6  이정인  2021-07-20 23:30         fury@naver.com
7  유재석  2021-08-28 11:48        FALCON@daum.net
8  백종원   2021-09-01 3:12       kim at gmail.com

In [3]:
df['email']

0         happy@gmail.com
1            sin@naver.com
2     Iron at yahoo.co.kr
3        \tWidow@gmail.com
4          thor@daum.net\t
5         loki88@gmail.com
6           fury@naver.com
7          FALCON@daum.net
8         kim at gmail.com
Name: email, dtype: object

In [4]:
type(df['email'])

pandas.core.series.Series

In [7]:
# 의미없는 이메일의 앞뒤 잉여 여백 제거 완료
df['email'] = df['email'].str.strip()
df['email']

0        happy@gmail.com
1          sin@naver.com
2    Iron at yahoo.co.kr
3        Widow@gmail.com
4          thor@daum.net
5       loki88@gmail.com
6         fury@naver.com
7        FALCON@daum.net
8       kim at gmail.com
Name: email, dtype: object

**문자열 길이 맞추기(padding)**

- 고정 길이의 데이터를 사용해야 할 경우

In [10]:
df['email'].str.pad(width=20, side='left', fillchar=' ')

0         happy@gmail.com
1           sin@naver.com
2     Iron at yahoo.co.kr
3         Widow@gmail.com
4           thor@daum.net
5        loki88@gmail.com
6          fury@naver.com
7         FALCON@daum.net
8        kim at gmail.com
Name: email, dtype: object

**글자 대체**

In [11]:
df['email']

0        happy@gmail.com
1          sin@naver.com
2    Iron at yahoo.co.kr
3        Widow@gmail.com
4          thor@daum.net
5       loki88@gmail.com
6         fury@naver.com
7        FALCON@daum.net
8       kim at gmail.com
Name: email, dtype: object

In [12]:
df['email'] = df['email'].str.replace(' at ', '@')
df

  name             birth             email
0  이영자   2021-01-01 9:10   happy@gmail.com
1  신동엽   2021-01-08 9:20     sin@naver.com
2  정찬우  2021-02-01 10:20  Iron@yahoo.co.kr
3  김태우  2021-02-02 11:40   Widow@gmail.com
4  이정희  2021-02-28 15:10     thor@daum.net
5  이나영  2021-06-30 21:20  loki88@gmail.com
6  이정인  2021-07-20 23:30    fury@naver.com
7  유재석  2021-08-28 11:48   FALCON@daum.net
8  백종원   2021-09-01 3:12     kim@gmail.com

In [13]:
# 이메일에서 id값만 도출하기
df['email'].str.split('@', n=1)

0     [happy, gmail.com]
1       [sin, naver.com]
2    [Iron, yahoo.co.kr]
3     [Widow, gmail.com]
4       [thor, daum.net]
5    [loki88, gmail.com]
6      [fury, naver.com]
7     [FALCON, daum.net]
8       [kim, gmail.com]
Name: email, dtype: object